@model IEnumerable<Quick5.Models.EdiSite>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th class="hidden-print"></th>
        <th>Nom</th>
        <th>Siret</th>
        <th>Code</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <th class="hidden-print iconwidth">@Html.ActionLink(" ", "Details", "EdiSites", new { id = item.Site_ID}, new { @class="glyphicon glyphicon-play" })</th>
        <td>@Html.DisplayFor(modelItem => item.Nom)</td>
        <td>@Html.DisplayFor(modelItem => item.NSiret)</td>
        <td>@Html.DisplayFor(modelItem => item.Code)</td>
    </tr>
}
</tbody>
</table>