@model Quick5.Models.EdiAccord

@{
    ViewBag.Title = "Accord EDI / " + Model.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_List", Model.AsList())

<h3>Sites</h3>

@Html.Partial("../EdiSites/_List", Model.Sites)