@model Quick5.Models.Client

@{
    ViewBag.Title = "Clients / " + Model.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_List", Model.AsList())

<h3>Siren</h3>

@Html.Partial("../Sirens/_List", Model.Siren.AsList())

<h3>Garantie</h3>

@Html.Partial("../Garanties/_Item", Model.Garantie)
