@model IEnumerable<Quick5.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<h2>
    @ViewBag.Title
    @using (Html.BeginForm("Index", "Clients", FormMethod.Get, new { @class = "form-inline pull-right", @role = "search" }))
    {
        <div class="form-group">
            <label class="sr-only" for="qc">ID ou nom client</label>
            <input type="search" class="form-control" placeholder="Search" name="qc" id="qc">
        </div>
        <button type="submit" class="btn btn-default">Go</button>
    }
</h2>

@Html.Partial("_List", Model)