@model Quick5.Models.Siren

@{
    ViewBag.Title = "Sirens / " + Model.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_List", new List<Quick5.Models.Siren>() { Model })

<h3>Clients</h3>

<h3>Garanties</h3>

<h3>Décisions</h3>

