@model IEnumerable<Quick5.Models.Insee>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th class="hidden-print"></th>
        <th>Insee</th>
        <th>Nom</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <th class="hidden-print iconwidth">@Html.ActionLink(" ", "Details", "Insees", new { id = item.ID }, new { @class="glyphicon glyphicon-play" })</th>
        <td>@Html.DisplayFor(modelItem => item.ID)</td>
        <td>@Html.DisplayFor(modelItem => item.Nom)</td>
    </tr>
}
</tbody>
</table>
