@model IEnumerable<Quick5.Models.Insee>

@{
    ViewBag.Title = "Communes Insees";
}

<h2>
    @ViewBag.Title
    @Html.Partial("_SearchBox")
</h2>

@Html.Partial("_List", Model)

<p>Importer le fichier des @Html.ActionLink("communes de l'Insee", "Import").</p>
