@model IEnumerable<Quick5.Models.Table>

@{
    ViewBag.Title = "Tables";
}

<h2>@ViewBag.Title</h2>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th class="hidden-print"></th>
        <th>Nom</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <th class="hidden-print iconwidth">@Html.ActionLink(" ", "Content", "Tables", new { id = item.Name }, new { @class="glyphicon glyphicon-play" })</th>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
    </tr>
}
</tbody>
</table>