@model Quick5.Models.Garantie

@{
    ViewBag.Title = "Garantie / " + Model.Client.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("../Clients/_List", new List<Quick5.Models.Client>() { Model.Client })

<h3>Siren</h3>

@Html.Partial("../Sirens/_List", new List<Quick5.Models.Siren>() { Model.Siren })

<h3>Garantie</h3>

@Html.Partial("_Item", Model)
